<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
      .post {
        padding: 20px;
        margin: 5px;
        background-color: #f3f3f3;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
      }

      nav a {
        color: #d64161;
        font-size: 3em;
        margin-left: 50px;
        text-decoration: none;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="{{ url_for('index') }}">FlaskApp</a>
      <a href="/create">Create</a>
    </nav>
    <hr />
    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
